@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #333;
    --first-color-light: #bfd8ff;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

.modal, .show{
    width: 100%!important;
}

.width{
    width: 10%!important;
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 30%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

.logout-button{
  cursor: pointer;
}

.nav_logo img {
    width: 30px;
    height: 30px;
    padding-left: 0px;
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}


/* ---------------------------------------------------------- */

.panel:nth-child(1){
    background-image: linear-gradient(to bottom right, #00B5E9, #495DF3);
}
.panel:nth-child(2){
    background-image: linear-gradient(to bottom right, #30DD80, #14A08C);
}
.panel:nth-child(3){
    background-image: linear-gradient(to bottom right, #8F54BF, #CB4D91);
}
.panel:nth-child(4){
    background-image: linear-gradient(to bottom right, #B9D857, #7CC650);
}
.panel{
    width: 23%;
    height: 150px;
    border-radius: 20px;
    margin: 10px;
}
.panel .stats-title{
    font-size: 2em;
    padding-left: 15px;
    padding-top: 15px;
}
.panel .stats-icon{
    float: right;
    font-size: 4em;
    color: #000;
    opacity: .6;
}
.stats-number{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 3.7em;
    color: #fff;
    
}

.table_image{
    width: 40px;
}

.option-item{
    color: #fff!important;
    text-align: center;
}

.option-item:nth-child(1){
    background: #bfd8ff;
}




/* ----------------------Add product Image css---------------------------- */

.multi-upload
{
    width: 100%;
    margin:auto;
    margin-top:10px;
  
}


.thumbnail{

    height: 100px;
    margin: 10px; 
    float: left;
}
#clear{
   display:none;
}
#result {
    border: 4px dotted #cccccc;
    display: none;
    float: right;
    margin:0 auto;
    width: 100%;
}


#files {
    display: none;
  }
  
label[for="files"] {
    flex: 1 1 auto;
    text-align: center;
    box-shadow: 1px 0 10px rgba(0,0,0,.15);
    border-radius: 5px;
    cursor: pointer;
}

/* ----------------------END Add product Image css---------------------------- */

.btn-info{
    background: #bfd8ff!important;
    border-color: #bfd8ff!important;
}
.btn-info:hover{
    background: #9ec3ff!important;
    border-color: #9ec3ff!important;
}

.item-color{
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
}

.black{
    color: #fff;
    background: #000;
}

.silver{
    background: rgb(187, 187, 187);
}

.blue{
    background: #00B5E9;
}

.red{
    background: #BB2D3B;
}
.green{
    background: #58b135;
}

.gold{
    background: #c6d30e;
}
.multi{
    background: linear-gradient(to bottom right, blue, pink);
}