*{
    margin:0;
    padding:0;
    box-sizing:border-box'
  }
  body {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    font-family: 'Poppins', sans-serif;
    background: #1F232A;
  }
  a{
    text-decoration:none;
    text-transform:capitalize;
    color:#bfd8ff;
    font-size:.8rem;
  }
  a:hover,a:focus {
    color:#bfd8ff;
  }
  .container{
    margin:0;
    padding:0;
  }
  .login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    background: #1F232A;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:1rem;
    padding:3rem;
    border-radius: 10px;
    color:#bfd8ff;
    text-align:left;
    transition: .3s;
  }
  .card-header{
    border: none;
    background-color: #1F232A;
  }
  .login-form:hover{
    box-shadow: 0 14px 28px #bfd8ff, 0 10px 10px #bfd8ff;
  }
  .title{
    margin-bottom:1rem;
    background: #1F232A;
    color: #fff;
    border: none;
    text-align: center;
    border-radius: 10px;
  }
  .input-field {
    width:100%;
    padding:0;
    margin:0;
  }
  .input-field input {
    width:100%;
    background:transparent;
    border:none;
    outline:none;
    color: #bfd8ff;
    border-bottom:1px solid #bfd8ff;
    padding:.6rem;
  }
  .input-field input:focus {
    border-color: #bfd8ff;
  }
  

  .input {
    display:flex;
    margin-top: 10px;
    justify-content:space-between;
    font-size:.9rem;
  }
  input[type="checkbox"]{
    background: #1F232A!important;
    padding:1rem;
  }
  .terms {
    text-align: center;
    font-size:.7rem;
    margin-top:1rem;
    padding: 0 3rem;
  }
  .terms strong{
    text-decoration:underline;
    cursor:pointer;
  }
  .btn {
      width: 100%;
    padding:.7rem;
    border:none;
    border-radius:3px;
    font-size:1rem;
    font-weight:bold;
    outline:none;
    cursor:pointer;
    text-transform:capitalize;
    transition:.2s ease-in-out;
    filter:brightness(1);
  }
  .submit {
    background:#bfd8ff;
  }
  .redirect{
    text-align: center;
    background:#bfd8ff;
    width:50%;
  }
  .btn:hover {
    /* background: #fff; */
    transform: scale(1.03);
    box-shadow: 2px 5px 8px rgba(0,0,0,.2);
  /*   color:#ccc; */
  }
  .new-user{
    justify-content:center;
    margin-top:1rem;
  }
  .new-user p{
    padding-bottom:.5rem;
    font-size:.8rem;
  }
  img{
      width: 35px;
  }
  
  .back-button{
      position: absolute;
      top: 3%;
      left: 3%;
      width: 5%;
      height: 35px;
      background: #bfd8ff;
      color: #000;
      text-align: center;
      line-height: 35px;
      font-size: 15px;
      border-radius: 10px;
      transition: .3s;
      border: #bfd8ff 1px solid;
      
  }
  .back-button:hover{
    color: #000;
    transform: scale(1.05);
    box-shadow: 2px 5px 8px rgba(0,0,0,.2);
  }

  .forgot-password{
      color: #bfd8ff;
  }
  /* .forgot-password:hover{
    color: #bfd8ff;
    transform: scale(1.05);
  } */


  @media screen and (max-width:500px){
    .login-form{
      width:calc(70% - 1rem);
      margin:1rem;
    }
    .terms{
      padding:0;
    }
  }
  @media screen and (max-width:350px){
    .login-form{
      width:calc(60% - 1rem);
      margin:1rem;
    }
    .terms{
      padding:0;
    }
  }