*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    /* overflow-x: hidden; */
}
body{
  background: #1F232A;
}
#nav{
    position: fixed;
    padding-top: 10px;
    width: 100%;
    height: 60px;
    color: #fff;
    transition: .3s;
    z-index: 10;
}
.logo{
    width: 20%;
    font-size: 25px;
    padding-top: 0.1em;
    font-weight: normal;
    color: #fff;
}
.logo img{
    width: 70px;
    height: 30px;
}
.menu {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
  }
  .menu * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .menu li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1em;
    overflow: hidden;
  }
  .menu a {
    padding: 0.3em 0;
    color: #fff;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
  }
  .menu a:before,
  .menu a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .menu a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #bfd8ff;
  }
  .menu a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    color: #fff;
    white-space: nowrap;
  }
  .menu li:hover a,
  .menu .current a {
    transform: translateY(100%);
  }

  .account{
    width: 20%;
    height: 30px;
    margin-right: 20px;
  }

  .account a {
    font-weight: normal;
    padding: 0.3em;
    color: #fff;
    position: relative;
    display: inline-block;
    letter-spacing: 2px;
    margin: 0px;
    transition: all 0.35s ease;
    transform-origin: left;
    cursor: pointer;
    text-decoration: none;
  }
  .account a::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 3px;
    left: 50%;
    bottom:0;
    background-color: #bfd8ff;
    transition: all ease-in-out .2s;
  }
  .account a:hover::after{
    width: 100%;
    left: 0;
  }

.background{
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  z-index: -5;
  clip-path: polygon(0 0,100% 0, 100% 70%, 50% 100%, 50% 100%, 0% 70%);
}
.background_shadow{
  filter: drop-shadow(0px 1px 29px #bfd8ff);
}
.arrow{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    animation: arrow infinite 3s ease-in-out;
    cursor: pointer;
}

.arrow .tip1{
    position: absolute;
    top: 20%;
    width: 60px;
    height: 30px;
    background: #bfd8ff;
    clip-path: polygon(0 0,100% 0, 100% 0, 50% 100%, 50% 100%, 0% 0);

}

.arrow .tip2{
    width: 60px;
    height: 30px;
    background: #bfd8ff;
    clip-path: polygon(0 0,100% 0, 100% 0, 50% 100%, 50% 100%, 0% 0);

}

.scrollTop{
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #1F232A;
  box-shadow: 0 1px 10px #bfd8ff;
  color: #bfd8ff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: .3s;
}

.scrollTop:hover{
  box-shadow: 0 0px 20px #bfd8ff;
}

.logout-button{
  cursor: pointer;
}

.tabs{
  width: 100%;
  height: 700px;
  padding: 10% 15%;
}

.tab{
  width: 30%;
  height: 350px;
  text-align: center;
  padding: 10px;
  border-radius: 10px; 
  background: #1F232A;
  color: #accbfc;
  /* box-shadow: 0 1px 3px #bfd8ff, 0 1px 2px #bfd8ff; */
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  /* border: 1px solid #bfd8ff; */
}
.tab:hover{
  border: 2px solid #bfd8ff;
  box-shadow: 0 14px 28px #bfd8ff, 0 10px 10px #bfd8ff;
}

.tab .icon{
  font-size: 3.5em;
  color: #bfd8ffa6;
  margin-top: 20px;
}
.tab .text{
  margin-top: 15px;
  padding: 15px;
  font-size: 15px;
}

.section_contact_form{
  width: 100%;
  height: 80vh;
  padding-top: 5%;
  color: #bfd8ff;
  font-weight: 600;
}

.section_contact_form h3{
  margin-top: 20px;
}
.section_contact_form form input,
.section_contact_form form textarea {
  color: #bfd8ff;
}

.contact_form{
  width: 35%;
  height: 45vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin: auto;
  padding: 30px;
  margin-top: 6%;
  color: #bfd8ff;
  /* border: 2px solid #bfd8ff; */
  border-radius: 10px;
  transition: .3s;
}

.contact_form:hover{
  box-shadow: 0 14px 28px #bfd8ff, 0 10px 10px #bfd8ff;
}
.contact_button{
  margin: 0 auto;
  width: 30%;
}

.menu_cover{
  position: fixed;
  width: 100%;
  height: 60px;
  background: rgba(41, 41, 41, 0.7);
  border-bottom: 2px solid #000;
}


.input-field {
  width:100%;
  padding:0;
  margin:0;
}
.input-field input, .input-field textarea {
  width:100%;
  background:transparent;
  border:none;
  outline:none;
  color: #000;
  border-bottom:1px solid #bfd8ff;
  margin-bottom: 15px;
  padding:.6rem;
}
.input-field input:focus, .input-field textarea:focus {
  border-color: #bfd8ff;
}
.btn-info{
  background: #bfd8ff!important;
  border-color: #bfd8ff!important;
}


.btn-info:hover{
  background: #accbfc!important;
  border-color: #accbfc!important;
}

.section_products{
  padding-top: 10%;
  width: 100%;
  height: 100vh;
}

.card{
  width: 25%;
  height: 300px;
  border-radius: 10px;
  margin: 3%;
  background: #1F232A;
  box-shadow: 0 1px 10px #bfd8ff;
  color: #bfd8ff;
  transition: .3s;
  border: none;
}

.card:hover > .image img{
  transform: scale(1.1);
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 14px 28px #bfd8ff, 0 10px 10px #bfd8ff;
}

.image{
  width: 100%;
  height: 70%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.image img{
  width: 100%;
  height: 100%;
  transition: .3s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.title{
  text-align: center;
  margin: 10px;
}

.price{
  text-align: right;
  margin: 10px;
}

@keyframes account_hover{
  0%{
    top: 80%;
  }
  50%{
      top: 90%;
  }
  100%{
      top: 80%;
  }
}

@keyframes arrow{
    0%{
        top: 80%;
    }
    50%{
        top: 90%;
    }
    100%{
        top: 80%;
    }
}

footer{
  height: 300px;
  background: #1F232A;
  border-top: 2px solid #bfd8ff;
}